:root {
  --background: #3b3667;
  --foreground: #46eaee;
  --accent: #3d558d;
  --darker-fg: #3184ab;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

header {
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
}
