:root {
  --background: #3b3667;
  --foreground: #46eaee;
  --accent: #3d558d;
  --darker-fg: #3184ab;
}

.login-button {
  background-color: var(--darker-fg);
  color: white;
  padding: 1em;
  display: block;
  margin: auto;
  max-width: 5em;
}